##============================================================##
## OS
##============================================================##
.DS_Store

##============================================================##
## Editors
##============================================================##
.vscode/

##============================================================##
## Bruno
##============================================================##
node_modules/

##============================================================##
## Claude personal settings
##============================================================##
.claude/
.ralph-loop.local.md
